<footer class="footer">
  <small>
    Created by Jeffrey XIE after following book <a href="http://www.railstutorial.org/">
    <i>The Ruby on Rails Tutorial (Rails 5)</i></a>
    written by <a href="http://www.michaelhartl.com/">Michael Hartl</a>, with some enhancements
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>